<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebServerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F21016A1DCAD27B0028B210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2101831DCAD27B0028B210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F21018E1DCAD27B0028B210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
